[submodule "GLOBAL-AUTH"]
	path = GLOBAL-AUTH
	url = https://github.com/um6p-vanguard/GLOBAL-AUTH
[submodule "LMS_FRONT"]
	path = LMS_FRONT
	url = https://github.com/um6p-vanguard/LMS_FRONT
[submodule "Astra-learn"]
	path = Astra-learn
	url = https://github.com/um6p-vanguard/Astra-learn
